.background {
  background: linear-gradient(
    0,
    #19171bff 15%,
    #453f3fff 30%,
    #e6825aff 60%,
    #fde187ff 70%,
    #f5c594ff 90%
  );
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
