.background {
  background: linear-gradient(
    to bottom right,
    rgb(220, 62, 67) -20%,
    rgb(40, 56, 149) 90%
  );
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
